@using Microsoft.AspNetCore.Mvc.Localization
@using FenixAlliance
@using FenixAlliance.ACL.i18n.Resources

@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "You have been successfully Signed Out from your Alliance ID Account. Thanks for your Business, Come back soon!";
    ViewBag.DisplayGlobalSlider = false;
}

<div class="section">
    <div class="container">
        <div class="row text-center">
            <h2>@ViewData["Title"]</h2>
        </div>
    </div>
</div>
